@media only screen and (min-width: 768px) {
  .main-tabs-container {
    flex-wrap: nowrap;
  }

   .left-tabs-container {
    flex:1 0 21.75rem;
  }

  /* .right-tabs-container {
    width: 59.5rem;
    flex-grow: 1;
  } */

  .repository {
    flex: 1 1 14rem;
  } 
}
