@media only screen and (min-width: 724px) {
    .main-tabs-container {
        flex-wrap: nowrap;
    }

    .left-tabs-container {
        max-width: 21.75rem;
    }

    .right-tabs-container {
        width: 59.5rem;
        flex-grow: 1;
    }
    
    .repository {
        width: 28.8125rem;
    }
}