.right-tabs-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  flex: 1 1 59.5rem;
}

.repositories {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  row-gap: 1rem;
  column-gap: 1rem;
  flex: 1 0 auto;
}

.repository {
  width: 50%;
  height: 11.625rem;
  border-radius: 1.25rem;
  background: hsl(244, 13%, 21%);
  padding: 1rem;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.0625rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 1.38rem;
  flex: 1 0 auto;
}

.repository:hover{
  text-decoration: none;
  box-shadow: 0.125rem 0.125rem 0.125rem 0.0625rem rgba(158, 105, 175, 0.342);
}

.repository-name-and-folder-icon-container {
  display: flex;
  gap: 1rem;

  img {
    width: 1.3125rem;
    height: 1.25rem;
  }
}

.repository-description {
 
  overflow: hidden;
}
